

<%@admin_applications.sort_by{|obj| obj[:order]}.each do |admin_application|%>

	<div class="admin_application"><a href="<%=admin_application[:url]%>">
		<div class="image_wrapper"><%=image_tag(admin_application[:thumbnail])%></div>
		<span class="application_name"><%=admin_application[:name]%></span>
		</a>
	</div>

<%end%>