<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<h2>Reset Password Request</h2>
	<p>A password reset was requested by the user tied to this email address. If you believe this is in error, please double check your security settings to prevent unauthorized access of your account</p>

	<p>Otherwise, you may reset your password by clicking on the link below:</p>
	<p><%=link_to @url,@url%></p>
	
</body>
</html>