<!DOCTYPE html>
<html>
<head>
  <title>Spud Admin</title>
  <%= stylesheet_link_tag("spud/login/application") %>
  
  <%= csrf_meta_tags %>
  <%=content_for :head%>
</head>
<body>

<div id="content_wrapper">
	<div id="content"><%=yield%></div>
</div>

</body>
</html>
