
  
  <p> Fill in all information pertaining to the current user you wish to modify. Fields marked with * are required and must be filled out.</p>

  <%=form_for @user,:url => spud_admin_user_path(:id => @user.id),:html=>{:class=>"right_aligned_form"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>
    <fieldset class="submit"><%=f.submit%> or <%=link_to "cancel","#",:class => "close_dialog"%></fieldset>
  <%end%>

  <script type="text/javascript">
  	$('input[type=submit],.close_dialog').button();
  	
  </script>

