

  <p> Fill in all information pertaining to the current user you wish to modify. Fields marked with * are required and must be filled out.</p>

  <%=form_for @user,:url => spud_admin_user_path(:id => @user.id),:html=>{:class=>"form-horizontal"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>

    <div class="form-actions form-actions-no-modal">
      <%=f.submit "Save User", :class=>"btn btn-primary"%> or <%=link_to "cancel",request.referer,:class => "btn"%>
    </div>

  <%end%>


